
/*creates a custom property to control globally different tones of the purple through the pages*/
:root{
     --dark-purple:rgb(132, 83, 178);
     --light-purple: rgb(170, 118, 219);
}

/*target the font family in whole pages */

html{
    font-family:sans-serif;
}
/*removes some space of the page*/
body{
    margin:0px;
}
.container{
    width: 100%;
    
}
/*put some color to this area*/
.heading{ 
    background-color: var(--light-purple);   /*applying custom property*/
      
}

.nav-bar{
    display: flex; /*flexbox property used in parent element, because I want to use the row setup*/
    margin:0;
    justify-content: center; /*center the items*/
}

/*removes bullet points from li*/
.nav-bar li { 
    list-style-type: none;        
}
/*modifies properly the inside items on li as text color, margin, background color etc*/
.nav-bar li a {
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    color: white;
    font-weight:bolder;
    margin: 30px;
    padding: 5px 40px 5px 40px;
    background-color: var(--dark-purple);      
}

/*centers the logo in this determined area*/
.logo{
   display:block;
   margin: auto;
   position:relative;
}
/*----SECOND ANIMATION ----*/
.anim {
    animation-name: anim;
    animation-duration: 10s;
    animation-delay: 1s;
}

@keyframes anim{
    25%{ transform: rotateX(90deg) translateY(-100px);
        opacity: 25%;
        
    }

    50%{ transform: rotateX(180deg) translateY(100px) scaleX(1.5);
        opacity: 50%
        
    }

    100%{ transform:rotateX(360deg) translateY(-20px);
        opacity: 100%;
        

    }
}

.banner { /*applies grid property to build banner area*/
   background-color: var(--dark-purple);
   display: grid;
   grid-template-rows: 250px;
   grid-template-columns: 350px ;
}

.banner picture { /*controls images in the banner area*/
    margin: 20px 20px 20px 20px;
    justify-self: center;    
}

.squares{ /*controls yellow squares "buttons" in the banner area*/
    display: flex;
    justify-content: center;
    background-color: var(--dark-purple);

}

.square{ /*controls INDIVIDUAL squares "buttons" in the banner area*/
    width:30px;
    height: 30px;
    margin: 10px;
    background-color: rgb(255, 217, 0);      
}

.square:hover{ /*small animation*/
    background-color: var(--light-purple); 
}
.square:hover + .square{
    background-color:rgb(13, 131, 74);
}

/*---end of small animation---*/

.articles{ /*controls 3rd area - articles and balloons*/
    background-color: var(--light-purple); 
    padding: 100px 200px 400px 200px;
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 200px;
    
    
}

.balloons{
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 50px 50px 50px;
   
}

.first{ /*controls box area of the paragraph*/
    background-color: var(--dark-purple);
    width: 300px;
    height: 250px;        
}

.first p{ /*controls the 1st paragraph*/
    color: white;
    font-size: 20px;
    text-align:justify;
    padding:20px;
    margin: 0;
    
}


.wrapper{
    display: flex;
    justify-content:end;
    
    
}
.second{ /*controls box area of the paragraph*/
    background-color: var(--dark-purple);
    width: 400px;
    height: 600px;
    padding-right: 300px;

   
        
}

.second p{ /*controls the  2nd paragraph*/
    color: white;
    font-size: 20px;
    text-align:justify;
    padding:20px;
    margin:0;  
    
    
}


/*styles footer area*/

.footer {
    background-color: black;
    height: 60px;
    width: 100%;
}

.footer p{ /*eliminates some white space in the footer area*/
    margin: 0px;
}
/*styles paragraph's footer area*/
.pfooter {
    color: white;
    text-align:end;
    margin: 20px;
    padding-top: 15px;
}
/*adds copyright symbol*/
.pfooter::before {
content: "\00a9";
}

/*About page*/

.content{
    background-color: var(--dark-purple);
    padding: 200px;
    display: flex;
    flex-direction: column;
}

.about{
    background-color: var(--light-purple);
    width: 480px;
    height: 200px;
    margin: 0 auto;
    
}
.pabout{
    margin:0;
    width: 400px;
    justify-self: center;
}

/* -------END HOME PAGE-----*/

/*-----MEDIA QUERIES-----*/

@media screen and (min-width: 641px){
    .nav-bar li a {
        text-decoration: none;
        font-family:'Courier New', Courier, monospace;
        font-size: 30px;
        color: white;
        font-weight:bolder;
        margin: 30px;
        padding: 5px 40px 5px 40px;
        background-color: var(--dark-purple);      
    }

    .banner { /*applies grid property to build banner area*/
        background-color: var(--dark-purple);
        display: grid;
        grid-template-rows: 500px;
        grid-template-columns: 350px 350px 350px 350px 350px;
     }
     
     .banner picture { /*controls images in the banner area*/
         margin: 20px 90px 10px 90px;    
     }
     
     .squares{ /*controls yellow squares "buttons" in the banner area*/
         display: flex;
         justify-content: center;
         background-color: var(--dark-purple);
     
     }
     .articles{ /*controls 3rd area - articles and balloons*/
        background-color: var(--light-purple); 
        padding: 100px 200px 400px 200px;
        display: grid;
        grid-template-rows: 300px;
        grid-template-columns: 200px 500px 870px;
        
        
    }
    
    .balloons{
        display: grid;
        grid-template-rows: 300px;
        grid-template-columns: 150px 150px 150px;
    }
}





